body {
    background-image: url("../img/bg.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5%;



}

header {
    display: inline-block;
    width: 40%;
}

header .logo {
    width: 30%;
    height: 40px;
    background-image: url("../img/epicode_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.gradient-text {
    background: -webkit-linear-gradient(#ff005d, #c700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



section h1 {
    font-weight: 300;
    font-size: 60px;
    display: inline-block;
    font-family: "Outfit", sans-serif;


}

section h2 {
    font-weight: 700;
    font-size: 60px;
    margin-top: -1%;
    font-family: "Outfit", sans-serif;
    padding-bottom: 2rem
}

section p {
    font-weight: 700;
    font-size: 16px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem; 
}

#istruction {
    background: -webkit-linear-gradient(#ff005d, #c700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding-bottom: 1rem;

}

ul {
    font-weight: 700;
    font-size: 16px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    list-style-type: disc;
    padding-top: 2rem;
    padding-left: 1.3rem;
    line-height: 1.5rem; 
}

span {
    font-weight: bold;
}

.agreement {
    padding-top: 5rem;
}

#promise {
    border: 2px solid white;
    padding: 0.5rem;
    vertical-align: middle;
    background: inherit;
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative; /*position: relative fa sì che il contenuto ::before possa essere posizionato correttamente all'interno della checkbox stessa.*/
}

#promise:checked {
    background-color: transparent; /* Questo è per mostrare il check sullo sfondo trasparente*/
}

#promise:checked::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free'; /* Importa il font di Font Awesome */
    font-weight: 900; /* Usa il peso della famiglia di caratteri 'solid' */
    color: #cf0080; 
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 10px; /* Allinea il contenuto verticalmente così che la spunta appare centrata dentro la checkbox */
}


.agreement p {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    vertical-align: middle
}

.proceed {
    background-color: #00FFFF;
    color: black;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgba(0, 231, 255, 0.6);
    margin-left: 10rem;
    font-size: 1.2rem;
}

/* input[type='checkbox'] {
    clip: rect(1px, 1px, 1px, 1px);
   
}

input[type='checkbox'] + label {
    cursor: pointer;
}

input[type='checkbox']:checked + label {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_1280.png')
} */

#reviewPage {
    text-align: center;
}

#reviewPage h4 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Outfit", sans-serif;
}

#reviewPage p {
    font-size: 1.3em;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}

textarea {
    width: 30%;

    margin: 20px auto;
    color: white;
    font-family: "Inter", sans-serif;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #ff00ff;
    font-size: 1rem;
    resize: none;
    height: 40px;
    transition: border-color 0.3s ease;
    line-height: 40px;
    padding: 0;
}

textarea::placeholder {
    color: #aaaaaa;
    padding-left: 1rem;

}

footer {
    text-align: center;
}

footer input {
    background-color: #00FFFF;
    color: black;
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgba(0, 231, 255, 0.6);
    font-size: 1.2rem;
    }   
    .reviewP {
        margin-top: 3rem;
    }

    .stelle img {
        cursor: pointer;
        filter: brightness(0.1);}

    .stelle img.active {
        filter: brightness(1)
    }

        .btn-prosegui {
            background-color: #00FFFF;
    color: black;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgba(0, 231, 255, 0.6);
    margin-top: 1rem;
    font-size: 1.2rem;
          }
          
          .btn-prosegui:hover {
            background-color: #ff00ff;
          }

          .testFooter{
            width: 90%;
          }

          
.questions{
    text-align: center;
    font-size: 350%;
    padding: 3rem;
    padding-top: 5rem;
    margin-top: 5rem;
    font-family: "Outfit", sans-serif;
}

.buttonContainer{
    text-align: center;
    font-size: 150%;
    margin: 2rem;
    padding-top: 1rem;
    
    
}
.bottone{
    margin: 1rem 10rem 1rem 0rem;
    padding: 1.7rem;
    border-radius:  35px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: white;
    cursor: pointer;
    height: 15%;
    width: 30%;
    font-size: 20px;
    border: 2px solid;
    border: solid white;
    border-bottom: solid rgba(255, 255, 255, 0.1) ; 
    
    
}

.bottone:active{
    background: -webkit-linear-gradient(#ff005d, #c700ff);
   
}

.timer{
    position: relative;
    z-index: 2;
    font-size: 60px;
    font-family: "Outfit", sans-serif;
    width: 150px; /* Imposta una larghezza fissa */
    height: 150px; /* Imposta un'altezza fissa */
   
}
.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
  }
  
  .pTimer {
    margin: 0;
    font-size: 12px;
  }
.secondsTimer{
    font-family: "Outfit", sans-serif;
    
    
}




#questionNum{
    margin-top: 5rem;
    padding-top: 1rem;
    font-family: "Outfit", sans-serif;
    font-size: 20px
}


nav h2{
    font-weight: 700;
    font-size: 60px;
    margin-top: -1%;
    font-family: "Outfit", sans-serif;
    padding-bottom: 2rem;
    text-align: center;
    padding-bottom: 0;
}


nav h3 {
    font-weight: 700;
    font-size: 16px;
    font-weight: 200;
    font-family: "Outfit", sans-serif;
    line-height: 1.5rem; 
    text-align: center;
    padding-bottom: 20%;
   
}

section #correct {
    font-weight: 300;
    font-size: 60px;
    font-family: "Outfit", sans-serif;
    
}

section #wrong{
    font-weight: 300;
    font-size: 60px;
    
    font-family: "Outfit", sans-serif;
    

}

.risultato{
    margin-top: 20%;
}

#rateUs{
    
        background-color: transparent;
        color: white;
        font-weight: bold;
        padding: 10px 40px;
        border: 2px solid white;
        cursor: pointer;
        font-size: 1.2rem;
    
}

#error-msg {
    color: red;
    font-weight: bold;
    background-color: #fff5f5;
    font-family: "OutFit";
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    top: 50px; /* Posiziona il messaggio sotto la checkbox */
    left: 0; /* Allinea il messaggio alla checkbox */
    z-index: 10;
    white-space: nowrap; /* Impedisce che il testo vada a capo */
}
  

  .canvas {
    width: 30%;
   
  }

  

  .contenitoreTempo {
    position: absolute; /* Per posizionare in alto a destra */
    top: 50px;
    right: 50px;
    width: 200px; /* Larghezza del contenitore */
    height: 200px; /* Altezza del contenitore */
    display: flex;
    justify-content: center;
    align-items: center;
}
  

#timerChart {
    position: absolute;
    width: 100%; /* Adatta il canvas al contenitore */
    height: 100%;
    z-index: 1; /* Assicurati che il canvas sia sotto il timer */
}








  

















