

body{
    background-image: url("../img/bg.jpg");
    color: white;
    font-family: "Outfit", sans-serif;
    background-repeat: no-repeat;
    margin:10%;

}

header{
    display: inline-block;
    width: 40%;
    
    
}

header .logo {
    width: 30%;
    height: 40px;
    background-image: url("../img/epicode_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

section h1{
    font-weight: 300;
    font-size: 60px;
    padding-bottom: 0%;
}

section p{

    font-weight: 700;
    font-size: 60px;
}

#istruction{
    background: -webkit-linear-gradient(140deg, #ff005d, #c700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;

}

































#promise {
    
    
    border: 2px solid white;
}
.agreement p {
    display: inline-block;
}

.proceed {background-color: #00FFFF;
color: black;
font-weight: bold;
padding: 10px 40px;
margin-left: 14rem;
border: none;
cursor: pointer;
box-shadow: 0px 0px 20px 5px rgba(0, 231, 255, 0.6)

}