

body{
    background-image: url("../img/bg.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
   
    

}

header{
    display: inline-block;
    width: 40%;
}

header .logo {
    width: 30%;
    height: 40px;
    background-image: url("../img/epicode_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}



section h1{
    font-weight: 300;
    font-size: 60px;
    display: inline-block;
    font-family: "Outfit", sans-serif;
    padding-bottom: -8%;
    
}

section h2{
    font-weight: 700;
    font-size: 60px;
    margin-top: -3%;
    font-family: "Outfit", sans-serif;
    padding-bottom: 10%;

    
}

section p{
    font-weight: 700;
    font-size: 16px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
}

#istruction{
    background: -webkit-linear-gradient(#ff005d, #c700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding-bottom: 2%;

}

ul{
    font-weight: 700;
    font-size: 16px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    list-style-type: disc;

}

#promise {
    border: 2px solid white;

}

.agreement p {
    display: inline-block;
    font-family: "Inter", sans-serif;
}

.proceed {background-color: #00FFFF;
color: black;
font-weight: bold;
padding: 10px 40px;
border: none;
cursor: pointer;
box-shadow: 0px 0px 20px 5px rgba(0, 231, 255, 0.6)

}